.body-base {
  color: #39393a;
  background-color: #f6f6f9;
  flex-flow: column;
  margin-bottom: 0;
  font-family: Raleway, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8rem;
  display: flex;
  overflow: visible;
}

.body-base.black {
  background-color: #39393a;
}

.navbar_wrapper {
  z-index: 10;
  grid-column-gap: .5vw;
  grid-row-gap: .5vw;
  background-color: #ffb81d;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 70px;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.nav_menu_button {
  z-index: auto;
  grid-column-gap: 0vh;
  grid-row-gap: 0vh;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-left: .5vw;
  margin-right: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.lottie_hamburger {
  z-index: 5;
  color: #fff;
  -webkit-text-stroke-color: #fff;
  width: 70px;
  height: 70px;
  margin-top: 1.1vh;
  padding-top: 0;
  position: relative;
  transform: scale(2);
}

.nav_logo_wrapper {
  z-index: auto;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
}

.comic_heading {
  color: #006e94;
  text-transform: lowercase;
  align-items: center;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Cal Sans, sans-serif;
  font-size: 2.5rem;
  line-height: 0;
  display: flex;
}

.comic_heading.issue02 {
  color: #f6f6f9;
}

.comic_heading.comingsoon {
  color: #ff6542;
}

.comic_heading_wrapper {
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 5vh;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
}

.comic_number {
  color: #006e94;
  text-align: left;
  align-items: center;
  width: 10%;
  height: 100%;
  font-family: Raleway, sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 0;
  display: flex;
}

.comic_number.issue02 {
  color: #f6f6f9;
}

.comic_number.comingsoon {
  color: #ff6542;
}

.comic_card_spacer {
  width: 100%;
  height: 30px;
}

.comic_paragraph {
  color: #006e94;
  text-align: justify;
  -webkit-text-stroke-color: #000;
  white-space: normal;
  flex-flow: column;
  margin-left: 38px;
  margin-right: 38px;
  font-family: Open Sans, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.6rem;
  display: block;
}

.comic_paragraph.issue02 {
  color: #f6f6f9;
}

.comic_paragraph.comingsoon {
  color: #ff6542;
}

.boxfortbuild_wrapper {
  z-index: 15;
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  inset: auto auto 0% 0%;
}

.lottie-animation-2 {
  width: auto;
  height: 100%;
}

.sect_animation {
  z-index: 0;
  -webkit-text-fill-color: inherit;
  background-color: #000;
  background-image: url('../images/homepage_test.jpg');
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-clip: border-box;
  flex-flow: row;
  justify-content: center;
  width: 100vw;
  height: 300vh;
  display: none;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.sect_hiraeth {
  z-index: 2;
  background-color: #f6f6f9;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
  display: flex;
  position: relative;
}

.sect_footer {
  background-color: #ffb91c;
  background-image: url('../images/FooterFlap.jpg');
  background-position: 50% 100%;
  background-size: cover;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0;
  display: flex;
}

.sect_about {
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  min-height: 100vh;
  margin-top: 0;
  display: flex;
}

.overlay_black {
  z-index: 10;
  opacity: .99;
  background-color: #422b1d;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.cardboardflaps {
  z-index: 20;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 50%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  position: fixed;
  inset: 0% auto 0% 0;
}

.cardboardflaps.right {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  max-width: 50%;
  min-height: 100vh;
  display: flex;
  inset: 0% 0% 0% auto;
}

.cardboardflaps.top {
  z-index: 25;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  min-width: 100vw;
  height: 53vh;
  min-height: auto;
  display: flex;
  left: 0%;
  overflow: hidden;
}

.cardboardflaps.bottom {
  z-index: 25;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  min-width: 100vw;
  height: 53vh;
  min-height: auto;
  display: flex;
  inset: auto 0% -2%;
  overflow: hidden;
}

.flaps_wrapper {
  z-index: 15;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
  position: absolute;
}

.leftflap_desktop {
  object-fit: cover;
  min-width: 100%;
  max-width: none;
  min-height: auto;
  max-height: 100%;
}

.topflap_desktop {
  aspect-ratio: auto;
  object-fit: cover;
  min-width: auto;
  max-width: 100%;
  min-height: 100%;
  max-height: none;
  position: static;
  overflow: clip;
}

.header_welcome_01 {
  z-index: 1;
  color: #ebb756;
  text-align: center;
  text-transform: none;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  height: 10vh;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Bitter, serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 6rem;
  display: flex;
  position: relative;
  top: 0;
  overflow: hidden;
}

.overlay_wonder {
  z-index: 0;
  color: #665038cc;
  text-align: left;
  text-transform: uppercase;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1.3rem;
  padding-left: 3rem;
  font-family: Cal Sans, sans-serif;
  font-size: 16rem;
  font-weight: 700;
  line-height: 14rem;
  display: none;
  position: fixed;
  inset: 0%;
}

.overlay_the {
  z-index: 0;
  color: #665038cc;
  text-align: left;
  text-transform: uppercase;
  object-fit: fill;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 3rem;
  font-family: Cal Sans, sans-serif;
  font-size: 16rem;
  font-weight: 700;
  line-height: 14rem;
  display: none;
  position: absolute;
  inset: 0 0% 0% auto;
}

.mask_wrapper {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  display: flex;
  position: sticky;
  top: 8vh;
  overflow: hidden;
}

.header_welcome_02 {
  z-index: 1;
  color: #ebb756;
  text-align: center;
  text-transform: none;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  height: 10vh;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Bitter, serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 6rem;
  display: flex;
  position: absolute;
  top: 90px;
}

.popout_menu {
  z-index: 0;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #39393ad9;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 40vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;
}

.spacer_topmenu {
  height: 8vh;
}

.menu_spacer {
  height: 7rem;
}

.menu_wrapper {
  grid-column-gap: 4.5rem;
  grid-row-gap: 4.5rem;
  text-transform: none;
  flex-flow: column;
  margin-left: 4rem;
  display: flex;
}

.menu_link {
  color: #ff6542;
  white-space: nowrap;
  word-break: normal;
  font-family: Cal Sans, sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 0;
  text-decoration: none;
  position: relative;
}

.allmenus_wrapper {
  z-index: 10;
  position: fixed;
}

.navbar_background {
  z-index: 5;
  background-color: #ffb81c;
  width: 100%;
  height: 8vh;
  display: none;
  position: fixed;
}

.sect_text {
  color: #000;
  width: auto;
  margin-bottom: 2rem;
  font-family: Open Sans, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
}

.sect_text.color_white {
  color: #f7f5f9;
  width: 100%;
}

.sect_text.color_white.download {
  margin-bottom: 0;
}

.subheading {
  color: #ff6542;
  margin-top: -10vh;
  margin-bottom: 0;
  padding-top: 10vh;
  font-family: Rock Salt, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.subheading.downloads {
  color: #f7f5f9;
  margin-top: 0;
  padding-top: 0;
}

.sect_heading {
  color: #ffb81d;
  text-transform: lowercase;
  margin-top: .25rem;
  margin-bottom: 1em;
  font-family: neue-kabel, sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
}

.sect_retailers {
  background-color: #39393a;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.secttext_wrapper {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-flow: column;
  width: 60vw;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  display: flex;
}

.secttext_wrapper.contact {
  width: 80vw;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.secttext_wrapper.prather {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.scroll_wrapper {
  z-index: 1;
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  white-space: nowrap;
  word-break: normal;
  overflow-wrap: normal;
  object-fit: fill;
  background-color: #f7f5f9;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  width: 450px;
  height: 620px;
  display: flex;
  position: relative;
  overflow: auto;
}

.comic_wrapper {
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  border-radius: 15px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 395px;
  max-width: 395px;
  min-height: 600px;
  max-height: 600px;
  display: flex;
  overflow: hidden;
}

.comic_img {
  z-index: 0;
  background-image: url('../images/Hiraeth.i01---clean.jpg');
  background-position: 0 0;
  background-size: cover;
  min-width: 395px;
  max-width: none;
  min-height: 600px;
  max-height: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.comic_img.issue02 {
  background-image: url('../images/Hiraeth.i02---clean.jpg');
  display: flex;
}

.comic_img.comingsoon {
  background-image: url('../images/Hiraeth---Coming-Soon-Cover.jpg');
  display: flex;
}

.comic_img.issue03 {
  background-image: url('../images/Hiraeth.i03---clean.jpg');
  display: flex;
}

.comic_card {
  z-index: 1;
  background-color: #fffacc;
  flex-flow: column;
  min-width: 395px;
  min-height: 600px;
  display: flex;
  position: relative;
}

.comic_card.issue02 {
  background-color: #c9647d;
}

.comic_card.comingsoon {
  background-color: #39393a;
}

.comic_card.issue03 {
  background-color: #00596a;
}

.scroll_bg {
  z-index: 0;
  background-color: #39393a;
  width: 100vw;
  height: 350px;
  display: block;
  position: absolute;
}

.scroll_bg.tablet {
  display: none;
}

.button_mainpage {
  z-index: 1;
  color: #f7f5f9;
  text-align: center;
  background-color: #ff6441;
  border: 3px solid #ff6441;
  border-radius: 13px;
  width: 12rem;
  min-width: 12rem;
  padding: 14px 15px;
  font-family: Rock Salt, sans-serif;
  font-size: 1rem;
  position: relative;
}

.text-photo_wrapper {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  display: flex;
}

.image_aboutus {
  object-fit: contain;
  min-height: 650px;
  max-height: 650px;
}

.boxfort_headerlogo {
  aspect-ratio: auto;
  object-fit: cover;
  object-position: 50% 50%;
  max-width: 100%;
  height: 80%;
  overflow: hidden;
}

.boxfort_headerlogo.mobile {
  height: 65%;
}

.text-button_wrapper {
  flex-flow: column;
  display: flex;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.sect_ourshop {
  background-color: #39393a;
  background-image: url('../images/CardboardBG1.jpg');
  background-position: 0 0;
  background-size: cover;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  display: none;
}

.open_closed_sign {
  object-fit: contain;
  margin-top: 1rem;
  position: static;
}

.status_wrapper {
  flex-flow: column;
  width: 300px;
  min-width: 300px;
  display: flex;
}

.shop_status {
  color: #f7f5f9;
  border-bottom: 5px solid #ff6441;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Cal Sans, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.form_menu {
  z-index: auto;
  background-color: #39393a;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  position: static;
}

.nav_menu_button02 {
  z-index: 6;
  grid-column-gap: 0vh;
  grid-row-gap: 0vh;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-left: .5vw;
  margin-right: 0;
  display: none;
  position: fixed;
  overflow: hidden;
}

.form {
  width: 80vw;
  margin-left: 0;
}

.submit-button {
  background-color: #ff6441;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 9px 33px;
  font-family: Rock Salt, sans-serif;
  font-size: 1rem;
}

.field-label {
  color: #ffb81d;
  text-transform: lowercase;
  font-family: Rock Salt, sans-serif;
  font-weight: 300;
}

.field-label-2 {
  color: #ffb81d;
  text-transform: lowercase;
  font-family: Rock Salt, sans-serif;
  font-weight: 400;
}

.field-label-3 {
  color: #ffb81d;
  text-transform: lowercase;
  font-family: Rock Salt, sans-serif;
}

.txt_field_main {
  background-color: #f7f5f9;
  font-size: 1.15rem;
  font-weight: 500;
}

.spacer_2rem {
  height: 2rem;
}

.button_wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.button_wrapper.download {
  grid-column-gap: 27px;
  grid-row-gap: 27px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar_simple {
  z-index: auto;
  background-color: #ffb81c;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-left: 0;
  display: flex;
  position: static;
}

.boxfort_logo {
  height: 75%;
}

.sect_mainlanding {
  background-color: #000;
  flex-flow: row;
  justify-content: center;
  height: 100vh;
  display: block;
  position: static;
}

.wonder_verticle {
  display: none;
}

.socmedia_wrapper {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-flow: row;
  width: auto;
  height: 3rem;
  display: flex;
}

.socmedia_wrapper.menu {
  margin-top: -1rem;
}

.code-embed {
  color: #ff6441;
  height: 100%;
  display: block;
}

.social_linkblock {
  width: 3rem;
  max-width: 3rem;
  height: 3rem;
  max-height: 3rem;
}

.banner_image_wrapper {
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  overflow: visible;
}

.section {
  background-color: #000;
  width: 100vw;
  height: 1vh;
  display: none;
}

.link-block {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-left: 2rem;
  display: flex;
}

.boxfort_headerlogo-mobile {
  aspect-ratio: auto;
  object-fit: cover;
  object-position: 50% 50%;
  max-width: 100%;
  height: 80%;
  display: none;
  overflow: hidden;
}

.footer_banner {
  height: auto;
  max-height: 4rem;
  display: none;
}

.spacer_1rem {
  height: 1rem;
  display: none;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.sect_greypage {
  z-index: auto;
  background-color: #39393a;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  position: static;
}

.div-block {
  width: 4%;
}

.sect_bonus {
  flex-flow: column;
  align-items: center;
  width: 100%;
  display: flex;
}

.image_wrapperwidth {
  width: 600px;
}

.sect_bonus_wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.wc_cocktail {
  color: #d262a0;
  font-family: Great Vibes, cursive;
  font-size: 3rem;
}

.wc_cocktail._2 {
  color: #bad47f;
}

.wc_cocktail._3 {
  color: #92cde9;
}

.recipe_wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 600px;
  display: flex;
}

.code-embed-2 {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.underconstruction {
  z-index: 10;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: block;
  position: absolute;
}

.image-5 {
  z-index: 30;
  width: 350px;
  position: static;
  inset: 0%;
}

.construction_wrapper {
  z-index: 30;
  grid-column-gap: 78px;
  grid-row-gap: 78px;
  background-color: #363638;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

.construction_text {
  color: #ffb81d;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  display: block;
}

.tap_button {
  width: 80px;
  height: auto;
  position: static;
}

.comic_tap_wrapper {
  z-index: 3;
  justify-content: center;
  align-items: flex-start;
  width: 395px;
  min-width: 395px;
  height: 600px;
  min-height: 600px;
  margin-top: 27px;
  display: none;
  position: fixed;
}

.txtarea_message {
  min-height: 8rem;
}

.latest_grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 3rem;
  display: none;
}

.sect_togglebutton {
  justify-content: flex-start;
  align-items: center;
  width: 60vw;
  height: 60px;
  display: flex;
}

.button_toggle01 {
  background-color: #39393a;
  border: 3px solid #ff6441;
  border-radius: 13px;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 50px;
  display: flex;
}

.toggle_text02-covers {
  color: #ff6441;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Rock Salt, sans-serif;
  font-size: 1rem;
  position: relative;
}

.toggle_text02-covers.on {
  z-index: 10;
  color: #f6f6f9;
}

.toggle_text02-covers.off {
  z-index: 10;
}

.toggle_block02-covers {
  background-color: #ff6441;
  border-radius: 13px;
  width: 148px;
  height: 50px;
  position: absolute;
  right: auto;
}

.sect_gallery {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 60vw;
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
}

.sect_gallery.sequentials, .sect_gallery.covers {
  display: flex;
}

.gallery_row {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: flex-start;
  width: 60vw;
  margin-top: .5rem;
  margin-bottom: 1rem;
  display: flex;
}

.gallery_row.text {
  width: 60vw;
  margin-top: 0;
  margin-bottom: 0;
}

.gallery_cell, .gallery_cell._2-cell {
  width: auto;
}

.gallery_color, .gallery_line {
  display: block;
}

.gallery_text {
  color: #f6f6f9;
  width: auto;
  font-family: neue-kabel, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
}

.gallery_text.color_white {
  color: #f7f5f9;
  width: 100%;
}

.gallery_text.secondary {
  font-family: neue-kabel, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  display: block;
}

.cardboard_frame_wrapper {
  z-index: 5;
  background-image: url('../images/HeroBanner01.png');
  background-position: 0 0;
  background-size: 100vw 100vh;
  background-attachment: scroll;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: visible;
}

.banner_wrapper {
  z-index: 0;
  background-image: url('../images/HeroBanner_01.jpg');
  background-position: 50%;
  background-size: 100vw;
  background-attachment: scroll;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
  display: none;
  position: absolute;
  top: 158px;
}

.hero_banner {
  z-index: 0;
  object-fit: cover;
  min-height: 65vh;
  position: absolute;
  top: 17vh;
}

.sect_introanimation {
  z-index: 9999;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
}

.overlay_brown-slide {
  z-index: 0;
  opacity: 1;
  background-color: #330f03;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
}

.rightflap_desktop {
  object-fit: cover;
  min-width: 100%;
  max-width: none;
  min-height: auto;
  max-height: 100%;
}

.bottomflap_desktop {
  aspect-ratio: auto;
  object-fit: cover;
  min-width: auto;
  max-width: 100%;
  min-height: 100%;
  max-height: none;
  position: static;
  overflow: clip;
}

.topflap_mobile, .bottomflap_mobile {
  aspect-ratio: auto;
  object-fit: cover;
  min-width: auto;
  max-width: 100%;
  min-height: 100%;
  max-height: none;
  display: none;
  position: static;
  overflow: clip;
}

.leftflap_mobile, .rightflap_mobile {
  object-fit: cover;
  min-width: 100%;
  max-width: none;
  min-height: auto;
  max-height: 100%;
  display: none;
}

.footer_wrapper {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  overflow: hidden;
}

.footer_linkswrap {
  flex-flow: row;
  justify-content: space-between;
  width: 25rem;
  min-width: 25rem;
  display: flex;
}

.footer_linkswrap.copyright {
  justify-content: flex-end;
  align-items: flex-end;
  width: 15rem;
  min-width: 15rem;
}

.footer_text {
  color: #f6f6f9;
  justify-content: flex-start;
  align-items: stretch;
  height: 1.3rem;
  font-family: neue-kabel, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: .75rem;
  display: flex;
}

.footer_text.copyright {
  font-size: 1.1rem;
  line-height: .75;
}

.footer_wrapper2 {
  justify-content: space-between;
  align-items: flex-end;
  margin-top: .5rem;
  display: flex;
  overflow: hidden;
}

.footer_link {
  text-decoration: none;
}

.footer_banner_text {
  color: #f6f6f9;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: neue-kabel, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  display: block;
}

.text-span-2 {
  color: #ffb91c;
  padding-left: 9px;
  padding-right: 9px;
  font-family: neue-kabel, sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
}

.footer_banner_text_mobile {
  color: #f6f6f9;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: Cal Sans, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  display: none;
}

.socialbutton_wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.button_toggle02-covers {
  background-color: #39393a;
  border: 3px solid #ff6441;
  border-radius: 13px;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 50px;
  display: flex;
}

.button_toggle03-seq {
  background-color: #39393a;
  border: 3px solid #ff6441;
  border-radius: 13px;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 50px;
  display: none;
}

.seq_line {
  display: block;
}

.gallery_row-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  width: 60vw;
  margin-top: .5rem;
  margin-bottom: 1rem;
  display: grid;
  overflow: visible;
}

.gallery_row-grid.colors {
  display: none;
}

.seq_color {
  display: block;
}

.sect_gallery_sequential {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 60vw;
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
}

.sect_gallery_sequential.sequentials, .sect_gallery_sequential.covers {
  display: flex;
}

.sect_gallery_covers {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 60vw;
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
}

.sect_gallery_covers.sequentials, .sect_gallery_covers.covers {
  display: flex;
}

.toggle_text01 {
  color: #ff6441;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Rock Salt, sans-serif;
  font-size: 1rem;
  position: relative;
}

.toggle_text01.on {
  z-index: 10;
  color: #f6f6f9;
}

.toggle_text01.off {
  z-index: 10;
}

.toggle_block01 {
  background-color: #ff6441;
  border-radius: 13px;
  width: 148px;
  height: 50px;
  position: absolute;
  right: auto;
}

.div-block-2 {
  width: 100vw;
  height: 100vh;
}

.startup_animation_button {
  z-index: 20;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.startup_animation_button_mobile {
  z-index: 20;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
}

.sect_recentdrops {
  z-index: 2;
  background-color: #f6f6f9;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.currentbook_image {
  border-radius: 15px;
  width: 395px;
  min-width: 395px;
  height: 600px;
  min-height: 600px;
  display: inline-block;
  overflow: clip;
}

.link_block_home {
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
  position: static;
}

.hiraethsamp_grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 3rem;
  display: grid;
}

.sr-only {
  color: #000;
  width: 1px;
  height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: -9999px;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .navbar_wrapper {
    height: 60px;
    padding-left: 1vw;
    padding-right: 2vw;
  }

  .nav_menu_button {
    width: 60px;
    height: 60px;
  }

  .lottie_hamburger {
    width: 60px;
    height: 60px;
    margin-top: 12px;
  }

  .nav_logo_wrapper {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }

  .comic_heading, .comic_number {
    font-size: 2rem;
  }

  .comic_card_spacer {
    height: 1.5rem;
  }

  .comic_paragraph {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .sect_footer {
    background-position: 50% 100%;
    background-size: cover;
    background-attachment: scroll;
  }

  .cardboardflaps {
    z-index: 25;
    left: 0%;
  }

  .cardboardflaps.right {
    z-index: 25;
    width: 52vw;
    max-width: 52vw;
    display: flex;
    right: 0%;
  }

  .cardboardflaps.top {
    z-index: 20;
    max-width: 100vw;
    height: auto;
    min-height: auto;
    max-height: 45vh;
    top: 0%;
    bottom: auto;
    right: 0;
  }

  .cardboardflaps.bottom {
    z-index: 20;
    max-width: 100vw;
    height: auto;
    max-height: 45vh;
    bottom: 0%;
  }

  .cardboardflaps.left {
    width: 52vw;
    max-width: 52vw;
    display: flex;
  }

  .leftflap_desktop {
    min-width: 100%;
    max-width: none;
    max-height: 100%;
    display: none;
  }

  .topflap_desktop {
    display: none;
  }

  .header_welcome_01 {
    font-size: 3rem;
  }

  .overlay_wonder, .overlay_the {
    display: none;
  }

  .header_welcome_02 {
    font-size: 3rem;
  }

  .popout_menu {
    width: 80vw;
  }

  .menu_spacer {
    height: 5rem;
  }

  .menu_wrapper {
    grid-column-gap: 3.2rem;
    grid-row-gap: 3.2rem;
  }

  .menu_link {
    font-size: 2rem;
    line-height: 0;
  }

  .secttext_wrapper {
    width: 80vw;
  }

  .comic_img {
    mix-blend-mode: normal;
    object-fit: cover;
    position: static;
  }

  .scroll_bg {
    justify-content: center;
    align-items: flex-start;
    display: none;
  }

  .scroll_bg.tablet {
    display: block;
  }

  .text-photo_wrapper {
    flex-flow: column;
  }

  .scroll-bg_wrapper {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .sect_ourshop {
    background-image: none;
  }

  .status_wrapper {
    margin-top: -2rem;
    margin-bottom: 2rem;
  }

  .nav_menu_button02 {
    width: 60px;
    height: 60px;
  }

  .spacer_2rem {
    height: 2rem;
    display: none;
  }

  .spacer_2rem.storm {
    display: block;
  }

  .navbar_simple {
    height: 60px;
  }

  .wonder_verticle {
    width: 100vh;
    font-family: Cal Sans, sans-serif;
    font-size: 10rem;
    font-weight: 300;
    position: absolute;
    bottom: 637.097px;
    left: -337.909px;
    transform: rotate(-90deg);
  }

  .wonder_verticle._2 {
    bottom: 885.097px;
  }

  .link-block {
    height: 60px;
  }

  .spacer_1rem {
    height: 1rem;
    display: block;
  }

  .underconstruction {
    display: flex;
  }

  .image-5 {
    width: 300px;
  }

  .construction_text {
    font-size: 2.2rem;
  }

  .tap_button {
    width: 60px;
  }

  .comic_tap_wrapper {
    margin-top: 18px;
    display: flex;
  }

  .sect_togglebutton, .gallery_row.text {
    width: 80vw;
  }

  .cardboard_frame_wrapper {
    background-position: 90%;
    background-size: 200vw 100vh;
  }

  .rightflap_desktop {
    min-width: 100%;
    max-width: none;
    max-height: 100%;
    display: none;
  }

  .bottomflap_desktop {
    display: none;
  }

  .topflap_mobile, .bottomflap_mobile {
    display: block;
  }

  .leftflap_mobile, .rightflap_mobile {
    min-width: 100%;
    max-width: none;
    max-height: 100%;
    display: block;
  }

  .footer_wrapper2 {
    margin-top: 1rem;
  }

  .footer_banner_text {
    font-size: 1.1rem;
    display: none;
  }

  .text-span-2 {
    font-size: 2rem;
    line-height: 1rem;
  }

  .footer_banner_text_mobile {
    font-size: 1.1rem;
    display: block;
  }

  .gallery_row-grid, .sect_gallery_sequential, .sect_gallery_covers {
    width: 80vw;
  }

  .startup_animation_button {
    display: none;
  }

  .startup_animation_button_mobile {
    display: flex;
  }

  .recent_cover_wrapper {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .cardboardflaps.right {
    z-index: 20;
    width: auto;
    max-width: 50vw;
  }

  .cardboardflaps.top {
    z-index: 25;
    max-width: 50vw;
    height: 51vh;
    max-height: 100vh;
  }

  .cardboardflaps.bottom {
    z-index: 25;
    height: 51vh;
    max-height: 100vh;
  }

  .cardboardflaps.left {
    z-index: 20;
    width: auto;
    max-width: 50vw;
  }

  .leftflap_desktop, .topflap_desktop {
    display: block;
  }

  .header_welcome_01 {
    width: 100vw;
    font-size: 2rem;
  }

  .header_welcome_02 {
    font-size: 2rem;
  }

  .rightflap_desktop, .bottomflap_desktop {
    display: block;
  }

  .topflap_mobile, .bottomflap_mobile, .leftflap_mobile, .rightflap_mobile {
    display: none;
  }

  .startup_animation_button {
    display: block;
  }

  .startup_animation_button_mobile {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .navbar_wrapper {
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding-left: 0;
    padding-right: 5vw;
  }

  .nav_menu_button {
    width: 60px;
    min-width: 8px;
    height: 60px;
    min-height: 8px;
  }

  .lottie_hamburger {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    transform: scale(1.4);
  }

  .nav_logo_wrapper {
    justify-content: flex-start;
    align-items: center;
  }

  .comic_heading {
    font-size: 1.5rem;
  }

  .comic_heading_wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .comic_number {
    font-size: 1.5rem;
  }

  .comic_card_spacer {
    height: 1rem;
  }

  .comic_paragraph {
    font-size: .9rem;
    line-height: 1.2rem;
  }

  .sect_footer {
    padding-bottom: 0;
  }

  .overlay_black {
    color: #191919;
  }

  .cardboardflaps.right {
    z-index: 25;
    width: 51vh;
    max-width: 51vw;
  }

  .cardboardflaps.top {
    z-index: 20;
    max-width: 100vw;
    height: auto;
    max-height: 45vh;
  }

  .cardboardflaps.bottom {
    z-index: 20;
    height: auto;
    max-height: 45vh;
  }

  .cardboardflaps.left {
    z-index: 25;
    width: 53vh;
    max-width: 53vw;
  }

  .leftflap_desktop {
    height: 100%;
    display: none;
  }

  .topflap_desktop {
    display: none;
  }

  .popout_menu {
    width: 100vw;
  }

  .menu_spacer {
    height: 3rem;
  }

  .menu_wrapper {
    grid-column-gap: 3.1rem;
    grid-row-gap: 3.1rem;
    margin-left: 2rem;
  }

  .menu_link {
    font-size: 1.8rem;
  }

  .sect_text {
    font-size: .9rem;
    line-height: 1.2rem;
  }

  .subheading {
    font-size: .75rem;
    overflow: visible;
  }

  .sect_heading {
    font-size: 2rem;
    line-height: 2rem;
  }

  .secttext_wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    width: 90vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
  }

  .scroll_wrapper {
    justify-content: flex-start;
    align-items: center;
    width: 330px;
    height: 480px;
  }

  .comic_wrapper, .comic_img {
    min-width: 300px;
    max-width: 300px;
    min-height: 457px;
    max-height: 457px;
  }

  .comic_card {
    min-width: 300px;
    min-height: 457px;
  }

  .button_mainpage {
    text-align: center;
    width: 11rem;
    min-width: 11rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .9rem;
  }

  .text-photo_wrapper {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .image_aboutus {
    min-height: auto;
    max-height: none;
  }

  .scroll-bg_wrapper {
    margin-top: -35px;
  }

  .boxfort_headerlogo {
    object-fit: contain;
    object-position: 0% 50%;
  }

  .boxfort_headerlogo.mobile {
    display: none;
  }

  .sect_ourshop {
    background-image: none;
  }

  .status_wrapper {
    width: 250px;
    min-width: 250px;
    margin-top: -4rem;
  }

  .shop_status {
    font-size: 1rem;
  }

  .nav_menu_button02 {
    width: 55px;
    height: 55px;
    margin-left: -.5vw;
  }

  .spacer_2rem {
    height: 2rem;
  }

  .button_wrapper {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    display: flex;
  }

  .navbar_simple {
    height: 55px;
  }

  .wonder_verticle {
    font-size: 7rem;
    bottom: 602.097px;
  }

  .wonder_verticle._2 {
    bottom: 798.097px;
  }

  .social_linkblock {
    width: 2.6rem;
    height: 2.6rem;
  }

  .banner_image_wrapper {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90vw;
    height: 75px;
  }

  .link-block {
    height: 55px;
  }

  .boxfort_headerlogo-mobile {
    object-fit: contain;
    object-position: 0% 50%;
    height: 30px;
    display: block;
    position: relative;
  }

  .spacer_1rem {
    height: 1rem;
  }

  .image_wrapperwidth {
    width: 100%;
  }

  .sect_bonus_wrapper {
    width: 90%;
  }

  .wc_cocktail {
    font-size: 2rem;
  }

  .recipe_wrapper {
    width: 100%;
  }

  .underconstruction {
    display: flex;
  }

  .image-5 {
    width: 225px;
  }

  .construction_wrapper {
    grid-column-gap: 19px;
    grid-row-gap: 19px;
  }

  .construction_text {
    font-size: 1.5rem;
  }

  .tap_button {
    width: 40px;
  }

  .comic_tap_wrapper {
    width: 300px;
    min-width: 300px;
    height: 457px;
    min-height: 457px;
  }

  .latest_grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sect_togglebutton {
    width: 90vw;
    height: 40px;
    margin-top: -1rem;
  }

  .button_toggle01 {
    width: 200px;
    height: 40px;
  }

  .toggle_text02-covers.on, .toggle_text02-covers.off {
    padding-left: 10px;
    padding-right: 10px;
    font-size: .8rem;
  }

  .toggle_block02-covers {
    width: 98px;
    height: 40px;
  }

  .gallery_row, .gallery_row.text {
    width: 90vw;
  }

  .gallery_text {
    font-size: .9rem;
    line-height: 1.2rem;
  }

  .banner_wrapper {
    height: 3vh;
  }

  .hero_banner {
    object-position: 77% 50%;
    top: 25vh;
  }

  .overlay_brown-slide {
    color: #191919;
  }

  .rightflap_desktop {
    height: 100%;
    display: none;
  }

  .bottomflap_desktop {
    display: none;
  }

  .topflap_mobile, .bottomflap_mobile {
    display: block;
  }

  .leftflap_mobile, .rightflap_mobile {
    height: 100%;
    display: block;
  }

  .footer_wrapper {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 140px;
    margin-top: 10px;
  }

  .footer_linkswrap {
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    flex-flow: column;
  }

  .footer_linkswrap.copyright {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer_text {
    font-size: 1.1rem;
  }

  .footer_text.copyright {
    font-weight: 400;
  }

  .footer_wrapper2 {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 110px;
  }

  .text-span-2 {
    font-size: 1.6rem;
    line-height: 1rem;
  }

  .footer_banner_text_mobile {
    font-family: neue-kabel, sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.6rem;
  }

  .socialbutton_wrapper {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    display: flex;
  }

  .button_toggle02-covers {
    width: 200px;
    height: 40px;
  }

  .gallery_row-grid {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 90vw;
  }

  .sect_gallery_sequential {
    width: 90vw;
  }

  .sect_gallery_covers {
    width: 90vw;
    margin-top: 1rem;
  }

  .toggle_text01.on, .toggle_text01.off {
    padding-left: 10px;
    padding-right: 10px;
    font-size: .8rem;
  }

  .toggle_block01 {
    width: 98px;
    height: 40px;
  }

  .lightbox-link {
    display: block;
  }

  .lightbox-link-2, .lightbox-link-3, .startup_animation_button {
    display: none;
  }

  .startup_animation_button_mobile {
    display: block;
  }

  .currentbook_image {
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: auto;
  }

  .hiraethsamp_grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#w-node-b980fc36-8be6-517c-1713-7c1d76f6b162-ec8bed51, #w-node-_38708194-c630-6285-9ec2-75c528b27f02-ec8bed51 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}


